.bookings-container {
  margin: 24px 48px;
  width: 60%;
  align-self: center;

}

.booking-card {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #566351;
  background-color: #5663511d;
  .edit-btn {
    margin: 0px;
  }
  .delete-btn {
    margin: 0px;
  }
}

.booking-card-info {
  pre {
    margin: 0px;
    padding: 0px;
  }
}

.booking-img {
  width: 30%;
  object-fit: cover;
}
