.bookings-container {
  margin: 24px 48px;
  width: 60%;
  align-self: center;
  height: 100vh;
}

.booking-card {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  padding: 8px;
  border-radius: 4px;
  background-color: #FDF6EC;

}

.booking-card-info {
  pre {
    margin: 0px;
    padding: 0px;
  }
}

.booking-img {
  width: 30%;
  object-fit: cover;
}
