// Import page-specific CSS files here.
@import "home";
@import "show";
@import "bookings";
@import "reviews";

.index-container {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;


  // height: 100vh;
  // width: 80%;
  // top: 100px;
  // margin-right: auto;
  // margin-left: auto;
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
}

.cards-container {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-grow: 1;
  height: 100px;
  margin-right: 20px;
}

// .main-container {
//   display: flex;
// }

#map {
  height: 100vh;
  position: sticky;
  top: 50;
}
