// Import page-specific CSS files here.
@import "home";
@import "show";
@import "bookings";
@import "reviews";

.index-container {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;


  // height: 100vh;
  // width: 80%;
  // top: 100px;
  // margin-right: auto;
  // margin-left: auto;
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
}

.cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-grow: 1;
  height: 100px;
  margin-right: 20px;
}

.all-cards {
  width: 80%;
}

// .main-container {
//   display: flex;
// }

#map {
  height: 100vh;
  width: auto;
  position: sticky;
  top: 50;
  margin-left: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .index-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .index-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .index-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .index-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .index-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
