.show-reviews {
  margin-top: 24px 0px;
}

h2 {
  margin: 8px 0px;
}

.reviews-container {

}



.review-card {
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  h3 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}

.review-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    margin-right: 24px;
  }
}

.reviews-card-info {




}
