<div class="footer">
  <div class="footer-word-links">
    <%= link_to "Sign up", bikes_path, class: "foot-link" %>
    <%= link_to "FAQ's", bikes_path, class: "foot-link" %>
    <%= link_to "Homepage", root_path, class: "foot-link" %>
  </div>
  <div class="footer-social-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    CyclOn Rentals <i class="fa-solid fa-bicycle"></i> Great bikes, ready to ride!
  </div>
</div>
