<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div> FAQ  |  Sign Up  |  List Your Bike
  </div>
  <div class="footer-copyright">
    CyclOn Rentals <i class="fa-solid fa-bicycle"></i> Great bikes, ready to ride!
  </div>
</div>
