<div class="screen">
  <div class="bike-screen">
    <div class="bike">
      <div class="left-handle"></div>
      <div class="left-handle-brake"></div>
      <div class="right-handle"></div>
      <div class="right-handle-brake"></div>
      <div class="headlight"></div>
      <div class="left-pedal"></div>
      <div class="left-pedal-rod"></div>
      <div class="left-pedal-footer"></div>
      <div class="left-suspension"></div>
      <div class="right-pedal"></div>
      <div class="right-pedal-rod"></div>
      <div class="right-pedal-footer"></div>
       <div class="right-suspension"></div>
      <div class="body"></div>
      <div class="body-rod"></div>

      <div class="wheel"></div>
      <div class="seat"></div>
    </div>
  </div>
  <div class="road"></div>
</div>
