<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1651937961/cover_i5bypv.jpg);">
  <div class="container-home">
    <div> <img src="https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652038169/CyclOn_Rentals_White_1.0_m7xxgw.png" width="500px" alt=""></div><br>
    <h1>Rent great</h1>
    <span class="typed-js" data-controller="typed-js"></span>
    <%# <div style="height: 50px;"><h1 class="typed-js" data-controller="typed-js"></h1></div> %>
     <%# <class="typed-js" data-controller="typed-js"> %>
    <h1>from people near you</h1>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <%= link_to "Find a bike", "#", class: "btn btn-ghost" %>
        </div>
      <% end %>
  </div>
</div>
<br>
<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/tobias-cornille-ZPpC98Vus3k-unsplash_xpegsv.jpg)">
    Bikes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/coen-van-de-broek-On4QWhHJCEM-unsplash_b2niot.jpg)">
    For
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/dmitrii-vaccinium-9qsK2QHidmg-unsplash_dr93nj.jpg)">
    Rent
  </div>
</div>
<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/tobias-cornille-ZPpC98Vus3k-unsplash_xpegsv.jpg)">
    Bikes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/coen-van-de-broek-On4QWhHJCEM-unsplash_b2niot.jpg)">
    For
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/dmitrii-vaccinium-9qsK2QHidmg-unsplash_dr93nj.jpg)">
    Rent
  </div>
</div>
<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/tobias-cornille-ZPpC98Vus3k-unsplash_xpegsv.jpg)">
    Bikes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/coen-van-de-broek-On4QWhHJCEM-unsplash_b2niot.jpg)">
    For
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/dmitrii-vaccinium-9qsK2QHidmg-unsplash_dr93nj.jpg)">
    Rent
  </div>
</div>
