<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1651937961/cover_i5bypv.jpg);">
  <div class="container-home">
    <div> <img src="https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652038169/CyclOn_Rentals_White_1.0_m7xxgw.png" width="500px" alt=""></div><br>
    <h1>Rent great</h1>
    <span class="typed-js" data-controller="typed-js"></span>
    <%# <div style="height: 50px;"><h1 class="typed-js" data-controller="typed-js"></h1></div> %>
     <%# <class="typed-js" data-controller="typed-js"> %>
    <h1>from people near you</h1>
      <%= form_tag bikes_path, method: :get do %>
        <div class="search-form-control form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a location" %>
            <%= submit_tag "Search", class: "btn btn-ghost" %>
        </div>
      <% end %>
  </div>
</div>
<br>


<%# <div class="bike-animation"> %>
  <%# <div class="anim-screen">
  <div class="anim-bike-screen">
    <div class="anim-bike">
      <div class="left-handle"></div>
      <div class="left-handle-brake"></div>
      <div class="right-handle"></div>
      <div class="right-handle-brake"></div>
      <div class="headlight"></div>
      <div class="left-pedal"></div>
      <div class="left-pedal-rod"></div>
      <div class="left-pedal-footer"></div>
      <div class="left-suspension"></div>
      <div class="right-pedal"></div>
      <div class="right-pedal-rod"></div>
      <div class="right-pedal-footer"></div>
       <div class="right-suspension"></div>
      <div class="anim-body"></div>
      <div class="body-rod"></div>
      <div class="wheel"></div>
      <div class="seat"></div>
    </div>
  </div>
  <div class="road"></div>
</div> %>
<%# </div> %>


<br>
<h1 style="text-align: center;">Bike Categories</h1>
<br>
<div class="home-cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/tobias-cornille-ZPpC98Vus3k-unsplash_xpegsv.jpg)">
    Road Bikes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/coen-van-de-broek-On4QWhHJCEM-unsplash_b2niot.jpg)">
    Mountain Bikes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dx4u8lsnu/image/upload/v1652022260/dmitrii-vaccinium-9qsK2QHidmg-unsplash_dr93nj.jpg)">
    Commuter Bikes
  </div>
</div>
<br>
