<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Edit your bike: <%= @bike.name  %></h1>
      <%= render 'form', bike: @bike %>
      <%= link_to 'Cancel', bike_path(@bike), class: "btn-form-cancel" %>
    </div>
  </div>
</div>
