.avatar {
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-left: 10px;
}

.avatar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-avatar-card {
  display: block;
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  margin-bottom: 25px;
}

.profile-rounded-circle {
max-width: 200px;
max-height: 200px;
min-width: 200px;
min-height: 200px;
border-radius: 50%;
object-fit: cover;
}
