.btn-profile {
  color: #fff;
  background-color: #566351;
  margin-left: 32px;
  padding: 8px 24px;
  margin-bottom: 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-profile:hover {
  opacity: 1;
  color: #2f362c;
  border: 1px solid #2f362c;
  background-color: #fff;
}

.btn-ghost {
  color: #fff;
  background-color: #566351;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #2f362c;
  border: 1px solid #2f362c;
  background-color: #fff;
}

.btn-cancel {
  color: #fff;
  background-color: #FF6B6B;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-cancel:hover {
  opacity: 1;
  color: #FF6B6B;
  border: 1px solid #FF6B6B;
  background-color: #fff;
}

.btn-form-cancel {
  color: #2f362c;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 24px 0px;
}

.btn-form-cancel:hover {
  opacity: 0.5;
  color: #fff;
  background-color: #FF6B6B;
}

.btn-form-go {
  width: 100%;
  color: #fff;
  background-color: #566351;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 8px;
}

.btn-form-go:hover {
  opacity: 1;
  color: #2f362c;
  border: 1px solid #2f362c;
  background-color: #fff;
}

.btn-back {
  width: 10%;
  // margin: 24px 4px;
  border-radius: 6px;
  background-color: #8d9f85;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  margin-top: 20px;
  font-size: larger;
  cursor: pointer;
}


.btn-back:hover {
  background-color: #aab7a4;
  color: #fff;
  opacity: 0.4;
}

.btn-form-secondary {
  color: #fff;
  background-color: rgb(150,150,150);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin: 16px 0px;
}

.btn-form-secondary:hover {
  background-color: rgb(100,100,100);
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.edit-btn {
  width: 40%;
  color: #fff;
  background-color: #56635191;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin: 8px 0px;
  margin-left: 16px;
}

.edit-btn:hover {
  opacity: 1;
  color: #2f362c;
  border: 1px solid #2f362c;
  background-color: #fff;
}

.delete-btn {
  width: 40%;
  color: #fff;
  background-color: #ff6b6b87;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 8px;
  margin-left: 16px;
}

.delete-btn:hover {
  opacity: 1;
  color: #FF6B6B;
  border: 1px solid #FF6B6B;
  background-color: #fff;
}
