.navbar-cyclon {
  justify-content: space-between;
  padding: 12px;
  background-color: white;
  transition: 0.5s background-color ease;
  height: 60px;
}

.navbar-cyclon-white {
  background-color: white;
}

.navbar-cyclon .navbar-collapse {
  flex-grow: 0;
}

.navbar-cyclon .navbar-brand img {
  width: 40px;
}
